fastapi==0.116.1
uvicorn==0.35.0
pymongo===4.14.0
google-api-python-client==2.178.0
motor==3.7.1
openai==1.99.1
python-dotenv==1.1.1
pipecat-ai[elevenlabs,deepgram]==0.0.79
python-multipart==0.0.20
httpx==0.28.1
autogen-agentchat==0.7.2
autogen-ext[openai]==0.7.2
llvmlite==0.44.0
