/* Main headline styling with large font size for the welcome message */
#headLine {
  font-size: 520%;
}

/* Form container styling for user authentication with full width and half height */
#formLinkPython {
  height: 50%;
  width: 50%;
}

/* Question label styling for form inputs with large font and left padding for alignment */
.question {
  font-size: 150%;
  padding-left: 40%;
  padding-bottom: 30%;
}

/* Input container styling for form fields with large font and left padding for alignment */
.input {
  font-size: 150%;
  padding-left: 40%;
}

/* Individual input field width for consistent form field sizes */
input {
  width: 35%;
}

/* music Website Button style individually */
#formLinkPython button {
  width: 100%;
  height: 80px;
}

/* Add delete Music Website style individually */
#musicAddDeleteWebsite button,
#chessGameWebsite button,
#aiWebsite button,
#recordingWebsite button,
#casinoWebsite button,
#shopWebsite button {
  width: 22%;
  height: 50px;
}

/* Full viewport height setup for HTML and body to ensure full page coverage */
html,
body {
  height: 100%;
  margin: 0;
}

/* Background container minimum height to ensure full page coverage */
.backGround {
  min-height: 100%;
}

/* Excluded only Background to be like this */
#musicWebsite {
  display: flex;
}

/* Card addition section background color for visual distinction */
#addCard {
  background-color: gray;
}
.youtubeRedirectingButton {
  width: 100%;
  height: 30px;
}

#musicContainer {
  width: 50%;
  height: 100%;
  font-size: 30px;
}

#thePet {
  position: fixed;
  bottom: 0%;
  right: 0%;
  z-index: 999;
  width: 15%;
}
